<section>
  <div class="page-header">
    <h1>{{vm.movie._id ? 'Edit Movie' : 'New Movie'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.movieForm" class="form-horizontal" ng-submit="vm.save(vm.form.movieForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group">
          <label class="control-label" for="name">Movie Name</label>
          <input name="name" type="text" ng-model="vm.movie.name" id="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label class="control-label" for="year">Movie Year</label>
          <input name="year" type="text" ng-model="vm.movie.year" id="year" class="form-control" placeholder="Year">
        </div>

        <div class="form-group">
          <label class="control-label" for="upload">Upload File{{vm.movie.file.name ? ' - '+vm.movie.file.name : ''}}</label>
          <br/>
          <div class="btn btn-default" ngf-select ng-model="vm.movie.file" name="file">Select File</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.movie._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <br/>
        <br/>
				
				<!--
        <video width="400" controls>
					<source src="/api/moviesDownload" type="video/mp4">
        </video>
			-->
      </fieldset>
    </form>
  </div>
</section>
