<section>
  <div class="page-header">
    <h1>Movies</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="movie in vm.movies" data-ui-sref="movies.view({ movieId: movie._id })" class="list-group-item">
      <small class="list-group-item-text">
				<b>Movie Year</b>:&nbsp
				<span data-ng-bind="movie.year"></span>
				&nbsp
				<b>Posted on</b>:&nbsp
        <span data-ng-bind="movie.created | date:'mediumDate'"></span>
				&nbsp
        <b>By</b>:&nbsp
        <span data-ng-if="movie.user" data-ng-bind="movie.user.displayName"></span>
        <span data-ng-if="!movie.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="movie.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.movies.$resolved && !vm.movies.length">
    No Movies yet, why don't you <a data-ui-sref="movies.create">create one</a>?
  </div>
</section>
