<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.movie.name"></h1>
  </div>
  <div class="pull-right" data-ng-show="vm.movie.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="movies.edit({ movieId: vm.movie._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
			<b>Movie Year</b>:&nbsp;
			<span data-ng-bind="vm.movie.year"></span>
			&nbsp;
      <b>Posted on</b>:&nbsp;
      <span data-ng-bind="vm.movie.created | date:'mediumDate'"></span>
     	&nbsp;
			<b>By</b>:&nbsp;
      <span data-ng-if="vm.movie.user"
            data-ng-bind="vm.movie.user.displayName"></span>
      <span data-ng-if="!vm.movie.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.movie.content"></p>
</section>
